/* body{
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
    width: 1200px;
    height: 200px;
} */


.main-div {
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);
    width: 1140;
    height: 561;
}

.nav {
    display:flex;
    flex-direction: row;
}


.anchr {

}
.img1 {
    margin-left: 300px;
    margin-bottom: 100px;
}

.second div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:50px;
}

.list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-around;
    gap: 50px;
}

.btn1 {
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%);
    padding-left: 26px;
}

